body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#calculator {
    margin-top: 150px;
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#displayScreen {
   display:flex;
   justify-content: flex-end;
   align-items: flex-end;
   background-color: blueviolet;
   height: 100px;
   width: 380px;
   margin-top: 10px;
   border-radius: 10px;
   font-size: 75px;
}

