body {
    background-color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 100px;
}

#calculator {
    height: 500px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#displayScreen {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   background-color: blueviolet;
   height: 100px;
   width: 380px;
   margin-top: 10px;
   border-radius: 10px;
   font-size: 75px;
}

.buttons {
    background-color: turquoise;
    height: 87.5px;
    width: 87.5px;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}
